[*.vb]

# CA1303: Do not pass literals as localized parameters
dotnet_diagnostic.CA1303.severity = none

# CA1707: Identifiers should not contain underscores
dotnet_diagnostic.CA1707.severity = none

# CA2000: Dispose objects before losing scope
dotnet_diagnostic.CA2000.severity = none

# CA1307: Specify StringComparison
dotnet_diagnostic.CA1307.severity = none

# CA1305: Specify IFormatProvider
dotnet_diagnostic.CA1305.severity = none

# CA2213: Disposable fields should be disposed
dotnet_diagnostic.CA2213.severity = none

# IDE0069: Disposable fields should be disposed
dotnet_diagnostic.IDE0069.severity = none

# CA1031: Do not catch general exception types
dotnet_diagnostic.CA1031.severity = silent

# CA2100: Review SQL queries for security vulnerabilities
dotnet_diagnostic.CA2100.severity = none

# CA1822: Mark members as static
dotnet_diagnostic.CA1822.severity = none

# CA1062: Validate arguments of public methods
dotnet_diagnostic.CA1062.severity = none

# IDE0052: Remove unread private members
dotnet_diagnostic.IDE0052.severity = none

# CA5351: Do Not Use Broken Cryptographic Algorithms
dotnet_diagnostic.CA5351.severity = none

# IDE0067: Dispose objects before losing scope
dotnet_diagnostic.IDE0067.severity = none

# CA3075: Insecure DTD processing in XML
dotnet_diagnostic.CA3075.severity = none

# BC42300: XML comment block must immediately precede the language element to which it applies
dotnet_diagnostic.BC42300.severity = none

# IDE0068: Use recommended dispose pattern
dotnet_diagnostic.IDE0068.severity = none

# CA1819: Properties should not return arrays
dotnet_diagnostic.CA1819.severity = none

# BC42104: Variable is used before it has been assigned a value
dotnet_diagnostic.BC42104.severity = none

# BC42324: Using the iteration variable in a lambda expression may have unexpected results
dotnet_diagnostic.BC42324.severity = none

# IDE0058: Expression value is never used
visual_basic_style_unused_value_expression_statement_preference = discard_variable:none

# CA1806: Do not ignore method results
dotnet_diagnostic.CA1806.severity = none

# CA1060: Move pinvokes to native methods class
dotnet_diagnostic.CA1060.severity = none
